<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Web B</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src="script.js" defer></script>
</head>
<body>
    <!-- <div id="franzFerdinand">
        <div class="franz">
          <h2 v-for="(item, index) in franz" :style="{'letter-spacing':(1/(index))+'px','font-size':(38+(index*2))+'px',right:(index)+'px',bottom:(index*5)+'px','text-shadow': '2px 2px 2px #'+item}">Aldo </h2>
        </div>
        <div class="ferdinand">
          <h2 v-for="(item, index) in ferdinand" :style="{'letter-spacing':(1/(index))+'px','font-size':(38+(index*2))+'px',right:(index)+'px', bottom:(index*6)+'px','text-shadow': '2px 2px 2px #'+item}">Ti amo</h2>  
        </div>
      </div> -->
      <section>
        <div class="container">
          <div class="item" style="font-size:10vw;">C</div>
          <div class="item" style="font-size:10vw;">r</div>
          <div class="item" style="font-size:10vw;">e</div>
          <div class="item" style="font-size:10vw;">a</div>
          <div class="item" style="font-size:10vw;">t</div>
          <div class="item" style="font-size:10vw;">i</div>
          <div class="item" style="font-size:10vw;">v</div>
          <div class="item" style="font-size:10vw;">e</div>
          <div class="item" style="font-size:10vw;">W</div>
          <div class="item" style="font-size:10vw;">e</div>
          <div class="item" style="font-size:10vw;">b</div>
          <div class="item" style="font-size:10vw;">B</div>
        </div>
      </section>
</body>
</html>